In [ ]:
# Import Pandas

In [1]:
import pandas as pd

In [ ]:
# Load DataSet

In [6]:
df=pd.read_csv("Countries_Data.csv")
print(df.head())

       country                             country_long        currency  \
0  Afghanistan             Islamic State of Afghanistan  Afghan afghani
1      Albania                      Republic of Albania    Albanian lek
2      Algeria  People's Democratic Republic of Algeria  Algerian dinar
3      Andorra                  Principality of Andorra            Euro
4       Angola              People's Republic of Angola  Angolan kwanza

       capital_city           region continent   demonym  latitude  longitude  \
0             Kabul    Southern Asia      Asia    Afghan      33.0       65.0
1            Tirana  Southern Europe    Europe  Albanian      41.0       20.0
2           Algiers  Northern Africa    Africa  Algerian      28.0        3.0
3  Andorra la Vella  Southern Europe    Europe  Andorran      42.5        1.5
4            Luanda    Middle Africa    Africa   Angolan     -12.5       18.5

   agricultural_land  ...  population  women_parliament_seats_pct  \
0           383560.0  ...    41128771                    27.01610
1            11655.5  ...     2775634                    35.71430
2           413588.0  ...    44903225                     8.10811
3              187.2  ...       79824                    46.42860
4           569525.0  ...    35588987                    33.63640

   rural_population  urban_population  press  democracy_score  democracy_type  \
0          30181937          10946834   2.14             2.97   Authoritarian
1           1004807           1770827   2.62             5.98   Hybrid regime
2          11328186          33575039   1.71             3.50   Authoritarian
3              9730             70094   3.17             0.00         Unknown
4          11359649          24229338   2.24             3.62   Authoritarian

   median_age      political_leader               title
0        12.9          Ashraf Ghani           President
1        33.7              Edi Rama      Prime Minister
2        24.0  Abdelmadjid Tebboune           President
3        38.9   Xavier Espot Zamora  Head of Government
4        12.4         João Lourenço           President

[5 rows x 64 columns]

In [ ]:
# Which Columns Containing Missing Values

In [7]:
df.isnull().sum()

country             0
country_long        0
currency            0
capital_city        0
region              0
                   ..
democracy_score     0
democracy_type      0
median_age          0
political_leader    7
title               7
Length: 64, dtype: int64

In [ ]:
# Rows where political_leader is missing

In [8]:
df[df["political_leader"].isnull()]

,country,country_long,currency,capital_city,region,continent,demonym,latitude,longitude,agricultural_land,...,population,women_parliament_seats_pct,rural_population,urban_population,press,democracy_score,democracy_type,median_age,political_leader,title
27,Cabo Verde,Republic of Cabo Verde,Cabo Verde escudo,Praia,Western Africa,Africa,Cape Verdian,16.000000,-24.000000,790.0,...,593149,38.8889,192507,400642,3.95,7.88,Flawed democracy,22.9,NaN,NaN
151,Slovak Republic,Slovak Republic,Euro,Bratislava,Eastern Europe,Europe,Slovak,48.666667,19.500000,18830.0,...,5431752,21.3333,2503549,2928203,3.32,7.10,Flawed democracy,36.0,NaN,NaN
159,St. Kitts and Nevis,St. Kitts and Nevis,East Caribbean dollar,Basseterre,Caribbean,Americas,Kittian and Nevisian,17.333333,-62.750000,60.0,...,47657,31.2500,32888,14769,0.00,0.00,Unknown,30.4,NaN,NaN
160,St. Lucia,St. Lucia,East Caribbean dollar,Castries,Caribbean,Americas,Saint Lucian,13.883333,-60.966667,99.4,...,179857,11.1111,145594,34263,0.00,0.00,Unknown,29.5,NaN,NaN
161,St. Vincent and the Grenadines,St. Vincent and the Grenadines,East Caribbean dollar,Kingstown,Caribbean,Americas,Saint Vincentian,13.250000,-61.200000,70.0,...,103948,18.1818,47946,56002,0.00,0.00,Unknown,29.1,NaN,NaN
172,Timor-Leste,Democratic Republic of Timor-Leste,U.S. dollar,Dili,South-Eastern Asia,Asia,East Timorese,-8.833333,125.916667,3414.0,...,1341296,40.0000,911089,430207,2.61,7.19,Flawed democracy,16.7,NaN,NaN
190,West Bank and Gaza,West Bank and Gaza,Israeli new shekel,Ramallah,Western Asia,Asia,Palestinian,31.900000,35.200000,4449.0,...,5043612,NaN,1145354,3898258,1.75,4.39,Hybrid regime,15.4,NaN,NaN

In [ ]:
# Rows where title is missing

In [9]:
df[df["title"].isnull()]

,country,country_long,currency,capital_city,region,continent,demonym,latitude,longitude,agricultural_land,...,population,women_parliament_seats_pct,rural_population,urban_population,press,democracy_score,democracy_type,median_age,political_leader,title
27,Cabo Verde,Republic of Cabo Verde,Cabo Verde escudo,Praia,Western Africa,Africa,Cape Verdian,16.000000,-24.000000,790.0,...,593149,38.8889,192507,400642,3.95,7.88,Flawed democracy,22.9,NaN,NaN
151,Slovak Republic,Slovak Republic,Euro,Bratislava,Eastern Europe,Europe,Slovak,48.666667,19.500000,18830.0,...,5431752,21.3333,2503549,2928203,3.32,7.10,Flawed democracy,36.0,NaN,NaN
159,St. Kitts and Nevis,St. Kitts and Nevis,East Caribbean dollar,Basseterre,Caribbean,Americas,Kittian and Nevisian,17.333333,-62.750000,60.0,...,47657,31.2500,32888,14769,0.00,0.00,Unknown,30.4,NaN,NaN
160,St. Lucia,St. Lucia,East Caribbean dollar,Castries,Caribbean,Americas,Saint Lucian,13.883333,-60.966667,99.4,...,179857,11.1111,145594,34263,0.00,0.00,Unknown,29.5,NaN,NaN
161,St. Vincent and the Grenadines,St. Vincent and the Grenadines,East Caribbean dollar,Kingstown,Caribbean,Americas,Saint Vincentian,13.250000,-61.200000,70.0,...,103948,18.1818,47946,56002,0.00,0.00,Unknown,29.1,NaN,NaN
172,Timor-Leste,Democratic Republic of Timor-Leste,U.S. dollar,Dili,South-Eastern Asia,Asia,East Timorese,-8.833333,125.916667,3414.0,...,1341296,40.0000,911089,430207,2.61,7.19,Flawed democracy,16.7,NaN,NaN
190,West Bank and Gaza,West Bank and Gaza,Israeli new shekel,Ramallah,Western Asia,Asia,Palestinian,31.900000,35.200000,4449.0,...,5043612,NaN,1145354,3898258,1.75,4.39,Hybrid regime,15.4,NaN,NaN

In [ ]:
# replace missing values

In [10]:
df["political_leader"]=df["political_leader"].fillna("Unknown")

In [11]:
df["title"]=df["title"].fillna("Not Available")

In [12]:
df.isnull().sum()

country             0
country_long        0
currency            0
capital_city        0
region              0
                   ..
democracy_score     0
democracy_type      0
median_age          0
political_leader    0
title               0
Length: 64, dtype: int64

In [ ]:
# check data type of column

In [13]:
df.dtypes

country              object
country_long         object
currency             object
capital_city         object
region               object
                     ...
democracy_score     float64
democracy_type       object
median_age          float64
political_leader     object
title                object
Length: 64, dtype: object

In [ ]:
# Convert Data

In [14]:
df["population"]=df["population"].astype(int)

In [ ]:
# Column Names to LowerCase

In [15]:
df.columns=df.columns.str.lower()

In [ ]:
# Rename column name

In [16]:
df.rename(columns={"political_leader":"leader_name"},inplace=True)

In [17]:
print(df.head())

       country                             country_long        currency  \
0  Afghanistan             Islamic State of Afghanistan  Afghan afghani
1      Albania                      Republic of Albania    Albanian lek
2      Algeria  People's Democratic Republic of Algeria  Algerian dinar
3      Andorra                  Principality of Andorra            Euro
4       Angola              People's Republic of Angola  Angolan kwanza

       capital_city           region continent   demonym  latitude  longitude  \
0             Kabul    Southern Asia      Asia    Afghan      33.0       65.0
1            Tirana  Southern Europe    Europe  Albanian      41.0       20.0
2           Algiers  Northern Africa    Africa  Algerian      28.0        3.0
3  Andorra la Vella  Southern Europe    Europe  Andorran      42.5        1.5
4            Luanda    Middle Africa    Africa   Angolan     -12.5       18.5

   agricultural_land  ...  population  women_parliament_seats_pct  \
0           383560.0  ...    41128771                    27.01610
1            11655.5  ...     2775634                    35.71430
2           413588.0  ...    44903225                     8.10811
3              187.2  ...       79824                    46.42860
4           569525.0  ...    35588987                    33.63640

   rural_population  urban_population  press  democracy_score  democracy_type  \
0          30181937          10946834   2.14             2.97   Authoritarian
1           1004807           1770827   2.62             5.98   Hybrid regime
2          11328186          33575039   1.71             3.50   Authoritarian
3              9730             70094   3.17             0.00         Unknown
4          11359649          24229338   2.24             3.62   Authoritarian

   median_age           leader_name               title
0        12.9          Ashraf Ghani           President
1        33.7              Edi Rama      Prime Minister
2        24.0  Abdelmadjid Tebboune           President
3        38.9   Xavier Espot Zamora  Head of Government
4        12.4         João Lourenço           President

[5 rows x 64 columns]

In [18]:
df.sort_values(by="population",ascending=False)

,country,country_long,currency,capital_city,region,continent,demonym,latitude,longitude,agricultural_land,...,population,women_parliament_seats_pct,rural_population,urban_population,press,democracy_score,democracy_type,median_age,leader_name,title
75,India,Republic of India,Indian rupee,New Delhi,Southern Asia,Asia,Indian,20.000000,77.000000,1790450.0,...,1417173173,14.9446,908804812,508368361,1.71,7.23,Flawed democracy,23.9,Narendra Modi,Prime Minister
34,China,People's Republic of China,Chinese yuan,Beijing,Eastern Asia,Asia,Chinese,35.000000,105.000000,5285080.0,...,1412175000,24.9412,514596570,897578430,0.99,3.32,Authoritarian,34.5,Xi Jinping,General Secretary of the Communist Party
184,United States,United States of America,U.S. dollar,"Washington, D.C.",Northern America,Americas,American,38.000000,-97.000000,4058100.0,...,333287557,28.7037,56378923,276908634,3.04,7.96,Flawed democracy,33.9,Joe Biden,President
76,Indonesia,Republic of Indonesia,Indonesian rupiah,Jakarta,South-Eastern Asia,Asia,Indonesian,-5.000000,120.000000,623000.0,...,275501339,21.9130,115892393,159608946,2.13,6.39,Flawed democracy,25.6,Joko Widodo,President
129,Pakistan,Islamic Republic of Pakistan,Pakistani rupee,Islamabad,Southern Asia,Asia,Pakistani,30.000000,70.000000,367230.0,...,235824862,20.4678,146845783,88979079,1.71,4.17,Hybrid regime,16.5,Imran Khan,Prime Minister
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,Monaco,Principality of Monaco,Euro,Monaco,Western Europe,Europe,Monegasque,43.733333,7.400000,NaN,...,36469,33.3333,0,36469,0.00,0.00,Unknown,50.5,Albert II,Sovereign Prince
143,San Marino,Republic of San Marino,Euro,City of San Marino,Southern Europe,Europe,Sammarinese,43.766667,12.416667,23.0,...,33660,33.3333,763,32897,0.00,0.00,Unknown,42.7,Alessandro Mancini,Captain Regent
130,Palau,Republic of Palau,U.S. dollar,Ngerulmud,Micronesia,Oceania,Palauan,7.500000,134.500000,43.0,...,18055,6.2500,3258,14797,0.00,0.00,Unknown,31.7,Thomas Remengesau Jr.,President
119,Nauru,Republic of Nauru,Australian dollar,Yaren,Micronesia,Oceania,Nauruan,-0.533333,166.916667,4.0,...,12668,10.5263,0,12668,0.00,0.00,Unknown,16.3,Lionel Aingimea,President
179,Tuvalu,Tuvalu,Australian dollar,Funafuti,Polynesia,Oceania,Tuvaluan,-8.000000,178.000000,18.0,...,11312,6.2500,3900,7412,0.00,0.00,Unknown,21.0,Kausea Natano,Prime Minister

In [ ]:
# Detects Duplicated

In [19]:
df["country"].duplicated().sum()

np.int64(0)

In [21]:
df.drop_duplicates(inplace=True)

In [23]:
df["population_density"]=df["population"]/df["urban_population"]

In [24]:
print(df.head())

       country                             country_long        currency  \
0  Afghanistan             Islamic State of Afghanistan  Afghan afghani
1      Albania                      Republic of Albania    Albanian lek
2      Algeria  People's Democratic Republic of Algeria  Algerian dinar
3      Andorra                  Principality of Andorra            Euro
4       Angola              People's Republic of Angola  Angolan kwanza

       capital_city           region continent   demonym  latitude  longitude  \
0             Kabul    Southern Asia      Asia    Afghan      33.0       65.0
1            Tirana  Southern Europe    Europe  Albanian      41.0       20.0
2           Algiers  Northern Africa    Africa  Algerian      28.0        3.0
3  Andorra la Vella  Southern Europe    Europe  Andorran      42.5        1.5
4            Luanda    Middle Africa    Africa   Angolan     -12.5       18.5

   agricultural_land  ...  women_parliament_seats_pct  rural_population  \
0           383560.0  ...                    27.01610          30181937
1            11655.5  ...                    35.71430           1004807
2           413588.0  ...                     8.10811          11328186
3              187.2  ...                    46.42860              9730
4           569525.0  ...                    33.63640          11359649

   urban_population  press  democracy_score  democracy_type  median_age  \
0          10946834   2.14             2.97   Authoritarian        12.9
1           1770827   2.62             5.98   Hybrid regime        33.7
2          33575039   1.71             3.50   Authoritarian        24.0
3             70094   3.17             0.00         Unknown        38.9
4          24229338   2.24             3.62   Authoritarian        12.4

            leader_name               title  population_density
0          Ashraf Ghani           President            3.757138
1              Edi Rama      Prime Minister            1.567422
2  Abdelmadjid Tebboune           President            1.337399
3   Xavier Espot Zamora  Head of Government            1.138814
4         João Lourenço           President            1.468839

[5 rows x 65 columns]

In [25]:
df["population"].mean()

np.float64(40788877.788659796)

In [26]:
df["population"].median()

9125614.5

In [27]:
df["population"].mode()

0           11312
1           12668
2           18055
3           33660
4           36469
          ...
189     235824862
190     275501339
191     333287557
192    1412175000
193    1417173173
Name: population, Length: 194, dtype: int64

In [28]:
df["population"].std()

148647013.62588033

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 65 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   country                                  194 non-null    object
 1   country_long                             194 non-null    object
 2   currency                                 194 non-null    object
 3   capital_city                             194 non-null    object
 4   region                                   194 non-null    object
 5   continent                                194 non-null    object
 6   demonym                                  194 non-null    object
 7   latitude                                 194 non-null    float64
 8   longitude                                194 non-null    float64
 9   agricultural_land                        193 non-null    float64
 10  forest_area                              194 non-null    float64
 11  land_area                                194 non-null    float64
 12  rural_land                               194 non-null    float64
 13  urban_land                               194 non-null    float64
 14  central_government_debt_pct_gdp          120 non-null    float64
 15  expense_pct_gdp                          156 non-null    float64
 16  gdp                                      193 non-null    float64
 17  inflation                                184 non-null    float64
 18  self_employed_pct                        179 non-null    float64
 19  tax_revenue_pct_gdp                      159 non-null    float64
 20  unemployment_pct                         179 non-null    float64
 21  vulnerable_employment_pct                179 non-null    float64
 22  electricity_access_pct                   194 non-null    float64
 23  alternative_nuclear_energy_pct           138 non-null    float64
 24  electricty_production_coal_pct           138 non-null    float64
 25  electricty_production_hydroelectric_pct  138 non-null    float64
 26  electricty_production_gas_pct            138 non-null    float64
 27  electricty_production_nuclear_pct        138 non-null    float64
 28  electricty_production_oil_pct            138 non-null    float64
 29  electricty_production_renewable_pct      138 non-null    float64
 30  energy_imports_pct                       138 non-null    float64
 31  fossil_energy_consumption_pct            168 non-null    float64
 32  renewable_energy_consumption_pct         192 non-null    float64
 33  co2_emissions                            191 non-null    float64
 34  methane_emissions                        191 non-null    float64
 35  nitrous_oxide_emissions                  191 non-null    float64
 36  greenhouse_other_emissions               184 non-null    float64
 37  urban_population_under_5m                194 non-null    float64
 38  health_expenditure_pct_gdp               190 non-null    float64
 39  health_expenditure_capita                190 non-null    float64
 40  hospital_beds                            192 non-null    float64
 41  hiv_incidence                            133 non-null    float64
 42  suicide_rate                             183 non-null    float64
 43  armed_forces                             174 non-null    float64
 44  internally_displaced_persons             73 non-null     float64
 45  military_expenditure_pct_gdp             163 non-null    float64
 46  birth_rate                               194 non-null    float64
 47  death_rate                               194 non-null    float64
 48  fertility_rate                           193 non-null    float64
 49  internet_pct                             194 non-null    float64
 50  life_expectancy                          191 non-null    float64
 51  net_migration                            194 non-null    int64
 52  population_female                        194 non-null    int64
 53  population_male                          194 non-null    int64
 54  population                               194 non-null    int64
 55  women_parliament_seats_pct               193 non-null    float64
 56  rural_population                         194 non-null    int64
 57  urban_population                         194 non-null    int64
 58  press                                    194 non-null    float64
 59  democracy_score                          194 non-null    float64
 60  democracy_type                           194 non-null    object
 61  median_age                               194 non-null    float64
 62  leader_name                              194 non-null    object
 63  title                                    194 non-null    object
 64  population_density                       194 non-null    float64
dtypes: float64(49), int64(6), object(10)
memory usage: 98.6+ KB

In [ ]:
# Statistical Summary of Numeric Column

In [30]:
df.describe()

,latitude,longitude,agricultural_land,forest_area,land_area,rural_land,urban_land,central_government_debt_pct_gdp,expense_pct_gdp,gdp,...,population_female,population_male,population,women_parliament_seats_pct,rural_population,urban_population,press,democracy_score,median_age,population_density
count,194.000000,194.000000,1.930000e+02,1.940000e+02,1.940000e+02,1.940000e+02,194.000000,120.000000,156.000000,1.930000e+02,...,1.940000e+02,1.940000e+02,1.940000e+02,193.000000,1.940000e+02,1.940000e+02,194.000000,194.000000,194.000000,194.000000
mean,18.975601,22.027491,2.454551e+05,2.086784e+05,6.675087e+05,6.563711e+05,9777.116531,66.759366,30.051403,5.144851e+11,...,2.028316e+07,2.050572e+07,4.078888e+07,25.022994,1.763322e+07,2.315566e+07,2.539330,4.644536,25.661856,2.077204
std,23.876225,66.396389,6.356268e+05,7.824926e+05,1.837107e+06,1.811169e+06,42301.458421,71.806247,26.740880,2.307148e+12,...,7.258941e+07,7.607158e+07,1.486470e+08,12.671044,7.664187e+07,7.940393e+07,1.800128,2.818297,9.415569,1.235157
min,-41.000000,-175.000000,4.000000e+00,0.000000e+00,2.027000e+00,3.495450e-02,0.000000,0.000000,0.000267,6.034940e+07,...,5.513000e+03,5.799000e+03,1.131200e+04,0.000000,0.000000e+00,5.717000e+03,0.000000,0.000000,10.500000,1.000000
25%,4.000000,-5.000000,6.464000e+03,3.331775e+03,2.355250e+04,2.186562e+04,359.618250,31.951300,18.371875,1.181390e+10,...,1.036218e+06,1.044902e+06,2.106358e+06,15.384600,5.896640e+05,1.222244e+06,1.525000,2.722500,16.950000,1.271279
50%,16.583333,21.500000,3.872780e+04,2.528925e+04,1.203750e+05,1.159945e+05,1645.170000,55.426850,27.337750,4.115390e+10,...,4.502713e+06,4.450049e+06,9.125614e+06,25.252500,2.512382e+06,4.508837e+06,2.400000,5.050000,24.950000,1.660705
75%,40.000000,50.162500,2.150000e+05,1.236735e+05,5.237000e+05,4.911505e+05,4054.022500,79.539300,35.083500,2.519450e+11,...,1.526606e+07,1.478872e+07,3.031361e+07,33.636400,1.133354e+07,1.621355e+07,2.925000,6.967500,34.050000,2.341372
max,65.000000,178.000000,5.285080e+06,8.153120e+06,1.637690e+07,1.622420e+07,522345.000000,687.994000,310.443000,2.546270e+13,...,6.915285e+08,7.311805e+08,1.417173e+09,61.250000,9.088048e+08,8.975784e+08,10.000000,9.870000,50.500000,7.362683

In [ ]:
# Counts No of c

In [31]:
df["region"].value_counts()

region
Western Asia                 17
Eastern Africa               17
Western Africa               16
Southern Europe              15
Caribbean                    13
South America                12
South-Eastern Asia           11
Northern Europe              10
Middle Africa                10
Eastern Europe               10
Southern Asia                 9
Western Europe                9
Central America               8
Northern Africa               6
Southern Africa               5
Eastern Asia                  5
Central Asia                  5
Micronesia                    5
Melanesia                     4
Polynesia                     3
Australia and New Zealand     2
Northern America              2
Name: count, dtype: int64

In [32]:
df["title"].value_counts()

title
President                                   99
Prime Minister                              64
Not Available                                7
King                                         5
General Secretary of the Communist Party     3
Federal Chancellor                           2
Sultan and Prime Minister                    2
Emir                                         2
Taoiseach                                    1
Captain Regent                               1
Sovereign Prince                             1
Regent                                       1
First Secretary of the Communist Party       1
Supreme Leader                               1
Chairman of the Workers Party of Korea       1
High Representative                          1
Head of Government                           1
Leader of the Sovereignty Council            1
Name: count, dtype: int64

In [33]:
df.groupby("region")["population"].mean()

region
Australia and New Zealand    1.555152e+07
Caribbean                    3.053804e+06
Central America              2.232179e+07
Central Asia                 1.569139e+07
Eastern Africa               2.710280e+07
Eastern Asia                 3.236792e+08
Eastern Europe               2.819816e+07
Melanesia                    3.030850e+06
Micronesia                   6.353760e+04
Middle Africa                2.069911e+07
Northern Africa              4.323233e+07
Northern America             1.861087e+08
Northern Europe              1.059054e+07
Polynesia                    1.135173e+05
South America                3.643607e+07
South-Eastern Asia           6.188967e+07
Southern Africa              1.371974e+07
Southern Asia                2.230998e+08
Southern Europe              1.004744e+07
Western Africa               2.681747e+07
Western Asia                 1.720938e+07
Western Europe               2.221409e+07
Name: population, dtype: float64

In [34]:
df.groupby("region")["population"].sum()

region
Australia and New Zealand      31103035
Caribbean                      39699448
Central America               178574337
Central Asia                   78456929
Eastern Africa                460747528
Eastern Asia                 1618395888
Eastern Europe                281981606
Melanesia                      12123398
Micronesia                       317688
Middle Africa                 206991062
Northern Africa               259393961
Northern America              372217459
Northern Europe               105905431
Polynesia                        340552
South America                 437232783
South-Eastern Asia            680786398
Southern Africa                68598688
Southern Asia                2007898570
Southern Europe               150711625
Western Africa                429079551
Western Asia                  292559508
Western Europe                199926846
Name: population, dtype: int64

In [36]:
df.groupby("region").agg({
    "population":"mean",
    "land_area":"mean"
})

                             population     land_area
region
Australia and New Zealand  1.555152e+07  3.977665e+06
Caribbean                  3.053804e+06  1.606615e+04
Central America            2.232179e+07  3.065138e+05
Central Asia               1.569139e+07  7.881740e+05
Eastern Africa             2.710280e+07  3.648819e+05
Eastern Asia               3.236792e+08  2.312944e+06
Eastern Europe             2.819816e+07  1.805347e+06
Melanesia                  3.030850e+06  1.278275e+05
Micronesia                 6.353760e+04  4.340000e+02
Middle Africa              2.069911e+07  7.128750e+05
Northern Africa            4.323233e+07  1.267732e+06
Northern America           1.861087e+08  9.056505e+06
Northern Europe            1.059054e+07  1.694759e+05
Polynesia                  1.135173e+05  1.176667e+03
South America              3.643607e+07  1.447228e+06
South-Eastern Asia         6.188967e+07  4.008552e+05
Southern Africa            1.371974e+07  5.301340e+05
Southern Asia              2.230998e+08  7.102911e+05
Southern Europe            1.004744e+07  8.711307e+04
Western Africa             2.681747e+07  3.789789e+05
Western Asia               1.720938e+07  2.813502e+05
Western Europe             2.221409e+07  1.206299e+05

In [38]:
df.groupby("region").agg({
    "urban_land":"mean",
    "land_area":"mean",
    "forest_area":"mean"
})

                              urban_land     land_area   forest_area
region
Australia and New Zealand    6958.145000  3.977665e+06  7.194879e+05
Caribbean                     721.911638  1.606615e+04  5.545108e+03
Central America              4786.021125  3.065138e+05  1.101204e+05
Central Asia                 5936.382000  7.881740e+05  2.602104e+04
Eastern Africa               1920.721218  3.648819e+05  1.118462e+05
Eastern Asia               118260.763600  2.312944e+06  5.428058e+05
Eastern Europe              10538.259000  1.805347e+06  8.611172e+05
Melanesia                     149.607850  1.278275e+05  9.990273e+04
Micronesia                      6.639668  4.340000e+02  2.328200e+02
Middle Africa                1560.521210  7.128750e+05  2.948528e+05
Northern Africa              7087.031667  1.267732e+06  4.502633e+04
Northern America           100278.050000  9.056505e+06  3.283615e+06
Northern Europe              3690.720000  1.694759e+05  7.527100e+04
Polynesia                      25.443300  1.176667e+03  5.720667e+02
South America                6876.188417  1.447228e+06  6.968195e+05
South-Eastern Asia          13485.316436  4.008552e+05  1.886148e+05
Southern Africa              3338.645000  5.301340e+05  7.895156e+04
Southern Asia               32757.164144  7.102911e+05  1.117007e+05
Southern Europe              3498.214367  8.711307e+04  3.083134e+04
Western Africa               2896.382144  3.789789e+05  5.273539e+04
Western Asia                 3251.803059  2.813502e+05  1.770226e+04
Western Europe               9266.181159  1.206299e+05  3.888273e+04

In [40]:
df.loc[df['population_density'].idxmax(),"country"]

'Papua New Guinea'

In [41]:
df.loc[df["land_area"]>1000000,["country","land_area"]]

             country   land_area
2            Algeria   2381740.0
4             Angola   1246700.0
6          Argentina   2736690.0
8          Australia   7692020.0
19           Bolivia   1083300.0
22            Brazil   8358140.0
30            Canada   8965590.0
32              Chad   1259200.0
34             China   9424700.0
35          Colombia   1109500.0
45   Dem. Rep. Congo   2267050.0
57          Ethiopia   1128570.0
75             India   2973190.0
76         Indonesia   1877520.0
77              Iran   1622500.0
85        Kazakhstan   2699700.0
96             Libya   1759540.0
104             Mali   1220190.0
107       Mauritania   1030700.0
109           Mexico   1943950.0
113         Mongolia   1557510.0
124            Niger   1266700.0
134             Peru   1280000.0
140           Russia  16376900.0
145     Saudi Arabia   2149690.0
155     South Africa   1213090.0
162            Sudan   1868000.0
184    United States   9147420.0

In [42]:
df.loc[df["leader_name"]=="Unknown","country"]

27                         Cabo Verde
151                   Slovak Republic
159               St. Kitts and Nevis
160                         St. Lucia
161    St. Vincent and the Grenadines
172                       Timor-Leste
190                West Bank and Gaza
Name: country, dtype: object

In [43]:
df.loc[(df["population"]>=10000000) & (df["population"]<=50000000),["country","region","population"]]

         country                     region  population
0    Afghanistan              Southern Asia    41128771
2        Algeria            Northern Africa    44903225
4         Angola              Middle Africa    35588987
6      Argentina              South America    46234830
8      Australia  Australia and New Zealand    25978935
..           ...                        ...         ...
186   Uzbekistan               Central Asia    35648100
188    Venezuela              South America    28301696
191        Yemen               Western Asia    33696614
192       Zambia             Eastern Africa    20017675
193     Zimbabwe             Eastern Africa    16320537

[63 rows x 3 columns]

In [45]:
df.loc[df.index[-1],"land_area"]

np.float64(386850.0)

In [46]:
df.loc[df["region"]!="Asia","country"]

0             Afghanistan
1                 Albania
2                 Algeria
3                 Andorra
4                  Angola
              ...
189               Vietnam
190    West Bank and Gaza
191                 Yemen
192                Zambia
193              Zimbabwe
Name: country, Length: 194, dtype: object

In [ ]:
# Rows where area is greater than average value

In [48]:
df.loc[df["population"]<df["population"].mean(),"country"]

1                  Albania
3                  Andorra
4                   Angola
5      Antigua and Barbuda
7                  Armenia
              ...
188              Venezuela
190     West Bank and Gaza
191                  Yemen
192                 Zambia
193               Zimbabwe
Name: country, Length: 158, dtype: object