In [1]:
# Pandas

In [3]:
import pandas as pd

In [ ]:
# Pandas Series

In [4]:
marks=pd.Series([77,88,99])
print(marks)

0    77
1    88
2    99
dtype: int64

In [ ]:
# Pandas DataFrame

In [ ]:
# Using Dictionaries

In [5]:
data={
    "Name":["Snigdha","Mohit","Priya"],
    "Marks":[77,88,99],
    "Age":[99,66,77]
}
df=pd.DataFrame(data)
print(df)

      Name  Marks  Age
0  Snigdha     77   99
1    Mohit     88   66
2    Priya     99   77

In [ ]:
# Using List

In [6]:
data=["Snigdha",77,99],
["Mohit",88,66],
["Priya",99,77]

df=pd.DataFrame(data,columns=["Name","Marks","Age"])
print(df)

      Name  Marks  Age
0  Snigdha     77   99

In [ ]:
# Reading CSV File

In [7]:
df=pd.read_csv("students_data.csv")

In [ ]:
# Shows First 5 Rows

In [8]:
df.head()

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
0,Second Year,MATHEMATICS,20,152,80,2016,2018,Central,8744,6043,B
1,First Year,ECONOMICS AND STATISTICS,29,182,79,2010,2010,Rift Valley,26293,14782,B
2,Fourth Year,MATHEMATICS,22,167,64,2015,2016,Western,44105,19224,B
3,Second Year,ECONOMICS AND STATISTICS,23,149,52,2016,2018,Coast,33954,18795,B
4,Second Year,MATHEMATICS,18,150,70,2013,2018,Western,18113,25569,A

In [ ]:
# Shows Last 5 Rows

In [9]:
df.tail()

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
57,Fourth Year,MATHEMATICS,25,142,66,2015,2016,Eastern,21556,15814,C
58,Fourth Year,MATHEMATICS,23,171,55,2015,2016,Rift Valley,36226,3536,C
59,Third Year,ECONOMICS AND STATISTICS,22,174,77,2016,2017,Coast,48495,31425,B
60,Third Year,STATISTICS,21,142,64,2016,2017,Nyanza,36492,34995,B
61,Third Year,STATISTICS,22,141,58,2016,2017,Eastern,9222,31360,B

In [ ]:
# No of Rows , No of Columns

In [10]:
df.shape

(62, 11)

In [ ]:
# Dataset Info

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   YearofStudy              62 non-null     object
 1   Course                   62 non-null     object
 2   Age                      62 non-null     int64
 3   ApproxHeight             62 non-null     int64
 4   ApproxWeight             62 non-null     int64
 5   KCSE                     62 non-null     int64
 6   Yr_JoinCampus            62 non-null     int64
 7   SitKCSE                  62 non-null     object
 8   Expense_Semester         62 non-null     int64
 9   Expense_Accommodation    62 non-null     int64
 10  Previous_Exam_MeanGrade  62 non-null     object
dtypes: int64(7), object(4)
memory usage: 5.5+ KB

In [ ]:
# List of Columns Name

In [12]:
df.columns

Index(['YearofStudy', 'Course', 'Age', 'ApproxHeight', 'ApproxWeight', 'KCSE',
       'Yr_JoinCampus', 'SitKCSE', 'Expense_Semester', 'Expense_Accommodation',
       'Previous_Exam_MeanGrade'],
      dtype='object')

In [ ]:
# Column Selection

In [13]:
df["Age"]

0     20
1     29
2     22
3     23
4     18
      ..
57    25
58    23
59    22
60    21
61    22
Name: Age, Length: 62, dtype: int64

In [14]:
df["Course"]

0                  MATHEMATICS
1     ECONOMICS AND STATISTICS
2                  MATHEMATICS
3     ECONOMICS AND STATISTICS
4                  MATHEMATICS
                ...
57                 MATHEMATICS
58                 MATHEMATICS
59    ECONOMICS AND STATISTICS
60                  STATISTICS
61                  STATISTICS
Name: Course, Length: 62, dtype: object

In [ ]:
# Multiple Columns Selection

In [18]:
df[["YearofStudy","Course"]]

    YearofStudy                    Course
0   Second Year               MATHEMATICS
1    First Year  ECONOMICS AND STATISTICS
2   Fourth Year               MATHEMATICS
3   Second Year  ECONOMICS AND STATISTICS
4   Second Year               MATHEMATICS
..          ...                       ...
57  Fourth Year               MATHEMATICS
58  Fourth Year               MATHEMATICS
59   Third Year  ECONOMICS AND STATISTICS
60   Third Year                STATISTICS
61   Third Year                STATISTICS

[62 rows x 2 columns]

In [19]:
df.head(10)

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
0,Second Year,MATHEMATICS,20,152,80,2016,2018,Central,8744,6043,B
1,First Year,ECONOMICS AND STATISTICS,29,182,79,2010,2010,Rift Valley,26293,14782,B
2,Fourth Year,MATHEMATICS,22,167,64,2015,2016,Western,44105,19224,B
3,Second Year,ECONOMICS AND STATISTICS,23,149,52,2016,2018,Coast,33954,18795,B
4,Second Year,MATHEMATICS,18,150,70,2013,2018,Western,18113,25569,A
5,Third Year,URBAN PLANNING,20,154,56,2016,2017,Central,11648,41028,A
6,Third Year,MATHEMATICS,21,165,79,2016,2017,Rift Valley,39252,44024,A
7,Third Year,MATHEMATICS,21,162,57,2016,2017,Nyanza,38174,36925,B
8,Fourth Year,ACTUARIAL SCIENCE,22,154,53,2015,2016,Nyanza,40833,27034,B
9,Fourth Year,ECONOMICS,21,172,57,2015,2016,Rift Valley,42264,26059,B

In [ ]:
# Row Selection Using Conditions

In [20]:
df[df["Age"]>22]

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
1,First Year,ECONOMICS AND STATISTICS,29,182,79,2010,2010,Rift Valley,26293,14782,B
3,Second Year,ECONOMICS AND STATISTICS,23,149,52,2016,2018,Coast,33954,18795,B
12,Fourth Year,MATHEMATICS,23,170,66,2015,2016,Nairobi,49155,21501,B
14,Second Year,ECONOMICS AND STATISTICS,34,176,80,2012,2012,Eastern,32733,39019,E
20,Third Year,STATISTICS,27,166,75,2015,2017,Nairobi,35034,26889,A
26,Fourth Year,MATHEMATICS,23,155,72,2015,2016,Eastern,44791,14681,C
27,Fourth Year,MATHEMATICS,24,153,56,2015,2016,Rift Valley,48957,25285,C
31,Second Year,MATHEMATICS,25,140,54,2016,2018,Central,45539,5902,C
32,First Year,ECONOMICS AND STATISTICS,24,163,75,2010,2010,Rift Valley,10251,9951,B
34,Second Year,ECONOMICS AND STATISTICS,24,155,57,2016,2018,Coast,30190,32985,B
36,Third Year,URBAN PLANNING,24,154,63,2016,2017,Central,46738,22645,A
37,Third Year,MATHEMATICS,23,149,66,2016,2017,Rift Valley,24766,8508,A
39,Fourth Year,ACTUARIAL SCIENCE,23,176,69,2015,2016,Nyanza,6171,10771,B
43,Fourth Year,MATHEMATICS,25,141,58,2015,2016,Nairobi,28455,31672,B
44,First Year,ECONOMICS AND STATISTICS,23,178,52,2010,2010,Nairobi,23656,6657,C
45,Second Year,ECONOMICS AND STATISTICS,25,163,80,2012,2012,Eastern,46291,48633,E
49,Third Year,STATISTICS,23,174,60,2016,2017,Central,23524,34048,B
53,Second Year,ACTUARIAL SCIENCE,24,157,63,2017,2018,Central,19423,20715,A
54,Third Year,ELECTRICAL ENGINEERING,23,144,54,2016,2017,Nairobi,48602,36527,A
57,Fourth Year,MATHEMATICS,25,142,66,2015,2016,Eastern,21556,15814,C
58,Fourth Year,MATHEMATICS,23,171,55,2015,2016,Rift Valley,36226,3536,C

In [21]:
df[df["Age"]<=22]

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
0,Second Year,MATHEMATICS,20,152,80,2016,2018,Central,8744,6043,B
2,Fourth Year,MATHEMATICS,22,167,64,2015,2016,Western,44105,19224,B
4,Second Year,MATHEMATICS,18,150,70,2013,2018,Western,18113,25569,A
5,Third Year,URBAN PLANNING,20,154,56,2016,2017,Central,11648,41028,A
6,Third Year,MATHEMATICS,21,165,79,2016,2017,Rift Valley,39252,44024,A
7,Third Year,MATHEMATICS,21,162,57,2016,2017,Nyanza,38174,36925,B
8,Fourth Year,ACTUARIAL SCIENCE,22,154,53,2015,2016,Nyanza,40833,27034,B
9,Fourth Year,ECONOMICS,21,172,57,2015,2016,Rift Valley,42264,26059,B
10,Third Year,MATHEMATICS,22,172,78,2016,2017,Coast,6811,39242,C
11,Second Year,MATHEMATICS,22,160,60,2015,2016,Coast,34148,37578,B
13,First Year,ECONOMICS AND STATISTICS,20,167,79,2010,2010,Nairobi,23654,17407,C
15,Third Year,STATISTICS,20,150,54,2016,2017,Central,45232,35910,B
16,Third Year,ECONOMICS AND STATISTICS,21,167,45,2016,2017,Nairobi,28393,9384,B
17,Third Year,APPLIED MATHEMATICS,20,122,52,2016,2017,Central,24691,28958,B
18,Third Year,STATISTICS,21,160,52,2016,2017,Central,36282,48476,B
19,Second Year,STATISTICS,21,200,65,2018,2019,Nairobi,9726,20195,B
21,Third Year,MATHEMATICS,20,157,45,2016,2017,Nyanza,34574,38983,B
22,Second Year,ACTUARIAL SCIENCE,20,125,50,2017,2018,Central,24599,33816,A
23,Third Year,ELECTRICAL ENGINEERING,21,170,59,2016,2017,Nairobi,36394,18675,A
24,Second Year,MATHEMATICS,21,160,54,2016,2017,Nyanza,9152,34661,B
25,First Year,STATISTICS,18,149,57,2018,2019,Rift Valley,17414,9154,B
28,Third Year,ECONOMICS AND STATISTICS,22,155,58,2016,2017,Coast,40620,24280,B
29,Third Year,STATISTICS,21,154,68,2016,2017,Nyanza,14357,11981,B
30,Third Year,STATISTICS,20,150,50,2016,2017,Eastern,31863,5661,B
33,Fourth Year,MATHEMATICS,21,166,67,2015,2016,Western,8802,12739,B
35,Second Year,MATHEMATICS,22,147,58,2013,2018,Western,8835,44816,A
38,Third Year,MATHEMATICS,22,164,50,2016,2017,Nyanza,13157,18850,B
40,Fourth Year,ECONOMICS,20,148,64,2015,2016,Rift Valley,33576,44122,B
41,Third Year,MATHEMATICS,20,156,56,2016,2017,Coast,11111,29686,C
42,Second Year,MATHEMATICS,21,152,76,2015,2016,Coast,49140,11893,B
46,Third Year,STATISTICS,21,140,66,2016,2017,Central,33984,44199,B
47,Third Year,ECONOMICS AND STATISTICS,22,147,53,2016,2017,Nairobi,21173,34372,B
48,Third Year,APPLIED MATHEMATICS,22,171,51,2016,2017,Central,30086,26363,B
50,Second Year,STATISTICS,22,162,57,2018,2019,Nairobi,27858,10556,B
51,Third Year,STATISTICS,21,161,77,2015,2017,Nairobi,6287,19264,A
52,Third Year,MATHEMATICS,22,168,61,2016,2017,Nyanza,24251,46408,B
55,Second Year,MATHEMATICS,21,141,75,2016,2017,Nyanza,18458,39735,B
56,First Year,STATISTICS,20,168,50,2018,2019,Rift Valley,24634,12529,B
59,Third Year,ECONOMICS AND STATISTICS,22,174,77,2016,2017,Coast,48495,31425,B
60,Third Year,STATISTICS,21,142,64,2016,2017,Nyanza,36492,34995,B
61,Third Year,STATISTICS,22,141,58,2016,2017,Eastern,9222,31360,B

In [22]:
df[df["YearofStudy"]=="Second Year"]

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
0,Second Year,MATHEMATICS,20,152,80,2016,2018,Central,8744,6043,B
3,Second Year,ECONOMICS AND STATISTICS,23,149,52,2016,2018,Coast,33954,18795,B
4,Second Year,MATHEMATICS,18,150,70,2013,2018,Western,18113,25569,A
11,Second Year,MATHEMATICS,22,160,60,2015,2016,Coast,34148,37578,B
14,Second Year,ECONOMICS AND STATISTICS,34,176,80,2012,2012,Eastern,32733,39019,E
19,Second Year,STATISTICS,21,200,65,2018,2019,Nairobi,9726,20195,B
22,Second Year,ACTUARIAL SCIENCE,20,125,50,2017,2018,Central,24599,33816,A
24,Second Year,MATHEMATICS,21,160,54,2016,2017,Nyanza,9152,34661,B
31,Second Year,MATHEMATICS,25,140,54,2016,2018,Central,45539,5902,C
34,Second Year,ECONOMICS AND STATISTICS,24,155,57,2016,2018,Coast,30190,32985,B
35,Second Year,MATHEMATICS,22,147,58,2013,2018,Western,8835,44816,A
42,Second Year,MATHEMATICS,21,152,76,2015,2016,Coast,49140,11893,B
45,Second Year,ECONOMICS AND STATISTICS,25,163,80,2012,2012,Eastern,46291,48633,E
50,Second Year,STATISTICS,22,162,57,2018,2019,Nairobi,27858,10556,B
53,Second Year,ACTUARIAL SCIENCE,24,157,63,2017,2018,Central,19423,20715,A
55,Second Year,MATHEMATICS,21,141,75,2016,2017,Nyanza,18458,39735,B

In [23]:
df[df["Course"]=="Mathematics"]

Empty DataFrame
Columns: [YearofStudy, Course, Age, ApproxHeight, ApproxWeight, KCSE, Yr_JoinCampus, SitKCSE, Expense_Semester, Expense_Accommodation, Previous_Exam_MeanGrade]
Index: []

In [24]:
df[df["ApproxHeight"]>170]

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
1,First Year,ECONOMICS AND STATISTICS,29,182,79,2010,2010,Rift Valley,26293,14782,B
9,Fourth Year,ECONOMICS,21,172,57,2015,2016,Rift Valley,42264,26059,B
10,Third Year,MATHEMATICS,22,172,78,2016,2017,Coast,6811,39242,C
14,Second Year,ECONOMICS AND STATISTICS,34,176,80,2012,2012,Eastern,32733,39019,E
19,Second Year,STATISTICS,21,200,65,2018,2019,Nairobi,9726,20195,B
39,Fourth Year,ACTUARIAL SCIENCE,23,176,69,2015,2016,Nyanza,6171,10771,B
44,First Year,ECONOMICS AND STATISTICS,23,178,52,2010,2010,Nairobi,23656,6657,C
48,Third Year,APPLIED MATHEMATICS,22,171,51,2016,2017,Central,30086,26363,B
49,Third Year,STATISTICS,23,174,60,2016,2017,Central,23524,34048,B
58,Fourth Year,MATHEMATICS,23,171,55,2015,2016,Rift Valley,36226,3536,C
59,Third Year,ECONOMICS AND STATISTICS,22,174,77,2016,2017,Coast,48495,31425,B

In [25]:
df[df["ApproxWeight"]>70]

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
0,Second Year,MATHEMATICS,20,152,80,2016,2018,Central,8744,6043,B
1,First Year,ECONOMICS AND STATISTICS,29,182,79,2010,2010,Rift Valley,26293,14782,B
6,Third Year,MATHEMATICS,21,165,79,2016,2017,Rift Valley,39252,44024,A
10,Third Year,MATHEMATICS,22,172,78,2016,2017,Coast,6811,39242,C
13,First Year,ECONOMICS AND STATISTICS,20,167,79,2010,2010,Nairobi,23654,17407,C
14,Second Year,ECONOMICS AND STATISTICS,34,176,80,2012,2012,Eastern,32733,39019,E
20,Third Year,STATISTICS,27,166,75,2015,2017,Nairobi,35034,26889,A
26,Fourth Year,MATHEMATICS,23,155,72,2015,2016,Eastern,44791,14681,C
32,First Year,ECONOMICS AND STATISTICS,24,163,75,2010,2010,Rift Valley,10251,9951,B
42,Second Year,MATHEMATICS,21,152,76,2015,2016,Coast,49140,11893,B
45,Second Year,ECONOMICS AND STATISTICS,25,163,80,2012,2012,Eastern,46291,48633,E
51,Third Year,STATISTICS,21,161,77,2015,2017,Nairobi,6287,19264,A
55,Second Year,MATHEMATICS,21,141,75,2016,2017,Nyanza,18458,39735,B
59,Third Year,ECONOMICS AND STATISTICS,22,174,77,2016,2017,Coast,48495,31425,B

In [26]:
df[df["Expense_Semester"]>20000]

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
1,First Year,ECONOMICS AND STATISTICS,29,182,79,2010,2010,Rift Valley,26293,14782,B
2,Fourth Year,MATHEMATICS,22,167,64,2015,2016,Western,44105,19224,B
3,Second Year,ECONOMICS AND STATISTICS,23,149,52,2016,2018,Coast,33954,18795,B
6,Third Year,MATHEMATICS,21,165,79,2016,2017,Rift Valley,39252,44024,A
7,Third Year,MATHEMATICS,21,162,57,2016,2017,Nyanza,38174,36925,B
8,Fourth Year,ACTUARIAL SCIENCE,22,154,53,2015,2016,Nyanza,40833,27034,B
9,Fourth Year,ECONOMICS,21,172,57,2015,2016,Rift Valley,42264,26059,B
11,Second Year,MATHEMATICS,22,160,60,2015,2016,Coast,34148,37578,B
12,Fourth Year,MATHEMATICS,23,170,66,2015,2016,Nairobi,49155,21501,B
13,First Year,ECONOMICS AND STATISTICS,20,167,79,2010,2010,Nairobi,23654,17407,C
14,Second Year,ECONOMICS AND STATISTICS,34,176,80,2012,2012,Eastern,32733,39019,E
15,Third Year,STATISTICS,20,150,54,2016,2017,Central,45232,35910,B
16,Third Year,ECONOMICS AND STATISTICS,21,167,45,2016,2017,Nairobi,28393,9384,B
17,Third Year,APPLIED MATHEMATICS,20,122,52,2016,2017,Central,24691,28958,B
18,Third Year,STATISTICS,21,160,52,2016,2017,Central,36282,48476,B
20,Third Year,STATISTICS,27,166,75,2015,2017,Nairobi,35034,26889,A
21,Third Year,MATHEMATICS,20,157,45,2016,2017,Nyanza,34574,38983,B
22,Second Year,ACTUARIAL SCIENCE,20,125,50,2017,2018,Central,24599,33816,A
23,Third Year,ELECTRICAL ENGINEERING,21,170,59,2016,2017,Nairobi,36394,18675,A
26,Fourth Year,MATHEMATICS,23,155,72,2015,2016,Eastern,44791,14681,C
27,Fourth Year,MATHEMATICS,24,153,56,2015,2016,Rift Valley,48957,25285,C
28,Third Year,ECONOMICS AND STATISTICS,22,155,58,2016,2017,Coast,40620,24280,B
30,Third Year,STATISTICS,20,150,50,2016,2017,Eastern,31863,5661,B
31,Second Year,MATHEMATICS,25,140,54,2016,2018,Central,45539,5902,C
34,Second Year,ECONOMICS AND STATISTICS,24,155,57,2016,2018,Coast,30190,32985,B
36,Third Year,URBAN PLANNING,24,154,63,2016,2017,Central,46738,22645,A
37,Third Year,MATHEMATICS,23,149,66,2016,2017,Rift Valley,24766,8508,A
40,Fourth Year,ECONOMICS,20,148,64,2015,2016,Rift Valley,33576,44122,B
42,Second Year,MATHEMATICS,21,152,76,2015,2016,Coast,49140,11893,B
43,Fourth Year,MATHEMATICS,25,141,58,2015,2016,Nairobi,28455,31672,B
44,First Year,ECONOMICS AND STATISTICS,23,178,52,2010,2010,Nairobi,23656,6657,C
45,Second Year,ECONOMICS AND STATISTICS,25,163,80,2012,2012,Eastern,46291,48633,E
46,Third Year,STATISTICS,21,140,66,2016,2017,Central,33984,44199,B
47,Third Year,ECONOMICS AND STATISTICS,22,147,53,2016,2017,Nairobi,21173,34372,B
48,Third Year,APPLIED MATHEMATICS,22,171,51,2016,2017,Central,30086,26363,B
49,Third Year,STATISTICS,23,174,60,2016,2017,Central,23524,34048,B
50,Second Year,STATISTICS,22,162,57,2018,2019,Nairobi,27858,10556,B
52,Third Year,MATHEMATICS,22,168,61,2016,2017,Nyanza,24251,46408,B
54,Third Year,ELECTRICAL ENGINEERING,23,144,54,2016,2017,Nairobi,48602,36527,A
56,First Year,STATISTICS,20,168,50,2018,2019,Rift Valley,24634,12529,B
57,Fourth Year,MATHEMATICS,25,142,66,2015,2016,Eastern,21556,15814,C
58,Fourth Year,MATHEMATICS,23,171,55,2015,2016,Rift Valley,36226,3536,C
59,Third Year,ECONOMICS AND STATISTICS,22,174,77,2016,2017,Coast,48495,31425,B
60,Third Year,STATISTICS,21,142,64,2016,2017,Nyanza,36492,34995,B

In [27]:
df["Age"].mean()

np.float64(22.161290322580644)

In [28]:
df["ApproxHeight"].max()

200

In [29]:
df["ApproxWeight"].min()

45

In [33]:
df[df["Course"]=="ECONOMICS AND STATISTICS"].shape[0]

12

In [35]:
df[df["Previous_Exam_MeanGrade"]=="A"].shape[0]

12

In [38]:
df[(df["Age"]>21) & (df["YearofStudy"]=="Third Year")]

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
10,Third Year,MATHEMATICS,22,172,78,2016,2017,Coast,6811,39242,C
20,Third Year,STATISTICS,27,166,75,2015,2017,Nairobi,35034,26889,A
28,Third Year,ECONOMICS AND STATISTICS,22,155,58,2016,2017,Coast,40620,24280,B
36,Third Year,URBAN PLANNING,24,154,63,2016,2017,Central,46738,22645,A
37,Third Year,MATHEMATICS,23,149,66,2016,2017,Rift Valley,24766,8508,A
38,Third Year,MATHEMATICS,22,164,50,2016,2017,Nyanza,13157,18850,B
47,Third Year,ECONOMICS AND STATISTICS,22,147,53,2016,2017,Nairobi,21173,34372,B
48,Third Year,APPLIED MATHEMATICS,22,171,51,2016,2017,Central,30086,26363,B
49,Third Year,STATISTICS,23,174,60,2016,2017,Central,23524,34048,B
52,Third Year,MATHEMATICS,22,168,61,2016,2017,Nyanza,24251,46408,B
54,Third Year,ELECTRICAL ENGINEERING,23,144,54,2016,2017,Nairobi,48602,36527,A
59,Third Year,ECONOMICS AND STATISTICS,22,174,77,2016,2017,Coast,48495,31425,B
61,Third Year,STATISTICS,22,141,58,2016,2017,Eastern,9222,31360,B

In [40]:
df[df["Expense_Semester"]>df["Expense_Accommodation"]]

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
0,Second Year,MATHEMATICS,20,152,80,2016,2018,Central,8744,6043,B
1,First Year,ECONOMICS AND STATISTICS,29,182,79,2010,2010,Rift Valley,26293,14782,B
2,Fourth Year,MATHEMATICS,22,167,64,2015,2016,Western,44105,19224,B
3,Second Year,ECONOMICS AND STATISTICS,23,149,52,2016,2018,Coast,33954,18795,B
7,Third Year,MATHEMATICS,21,162,57,2016,2017,Nyanza,38174,36925,B
8,Fourth Year,ACTUARIAL SCIENCE,22,154,53,2015,2016,Nyanza,40833,27034,B
9,Fourth Year,ECONOMICS,21,172,57,2015,2016,Rift Valley,42264,26059,B
12,Fourth Year,MATHEMATICS,23,170,66,2015,2016,Nairobi,49155,21501,B
13,First Year,ECONOMICS AND STATISTICS,20,167,79,2010,2010,Nairobi,23654,17407,C
15,Third Year,STATISTICS,20,150,54,2016,2017,Central,45232,35910,B
16,Third Year,ECONOMICS AND STATISTICS,21,167,45,2016,2017,Nairobi,28393,9384,B
20,Third Year,STATISTICS,27,166,75,2015,2017,Nairobi,35034,26889,A
23,Third Year,ELECTRICAL ENGINEERING,21,170,59,2016,2017,Nairobi,36394,18675,A
25,First Year,STATISTICS,18,149,57,2018,2019,Rift Valley,17414,9154,B
26,Fourth Year,MATHEMATICS,23,155,72,2015,2016,Eastern,44791,14681,C
27,Fourth Year,MATHEMATICS,24,153,56,2015,2016,Rift Valley,48957,25285,C
28,Third Year,ECONOMICS AND STATISTICS,22,155,58,2016,2017,Coast,40620,24280,B
29,Third Year,STATISTICS,21,154,68,2016,2017,Nyanza,14357,11981,B
30,Third Year,STATISTICS,20,150,50,2016,2017,Eastern,31863,5661,B
31,Second Year,MATHEMATICS,25,140,54,2016,2018,Central,45539,5902,C
32,First Year,ECONOMICS AND STATISTICS,24,163,75,2010,2010,Rift Valley,10251,9951,B
36,Third Year,URBAN PLANNING,24,154,63,2016,2017,Central,46738,22645,A
37,Third Year,MATHEMATICS,23,149,66,2016,2017,Rift Valley,24766,8508,A
42,Second Year,MATHEMATICS,21,152,76,2015,2016,Coast,49140,11893,B
44,First Year,ECONOMICS AND STATISTICS,23,178,52,2010,2010,Nairobi,23656,6657,C
48,Third Year,APPLIED MATHEMATICS,22,171,51,2016,2017,Central,30086,26363,B
50,Second Year,STATISTICS,22,162,57,2018,2019,Nairobi,27858,10556,B
54,Third Year,ELECTRICAL ENGINEERING,23,144,54,2016,2017,Nairobi,48602,36527,A
56,First Year,STATISTICS,20,168,50,2018,2019,Rift Valley,24634,12529,B
57,Fourth Year,MATHEMATICS,25,142,66,2015,2016,Eastern,21556,15814,C
58,Fourth Year,MATHEMATICS,23,171,55,2015,2016,Rift Valley,36226,3536,C
59,Third Year,ECONOMICS AND STATISTICS,22,174,77,2016,2017,Coast,48495,31425,B
60,Third Year,STATISTICS,21,142,64,2016,2017,Nyanza,36492,34995,B

In [41]:
df[(df["Age"]>=18) & (df["Age"]<=22)]

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
0,Second Year,MATHEMATICS,20,152,80,2016,2018,Central,8744,6043,B
2,Fourth Year,MATHEMATICS,22,167,64,2015,2016,Western,44105,19224,B
4,Second Year,MATHEMATICS,18,150,70,2013,2018,Western,18113,25569,A
5,Third Year,URBAN PLANNING,20,154,56,2016,2017,Central,11648,41028,A
6,Third Year,MATHEMATICS,21,165,79,2016,2017,Rift Valley,39252,44024,A
7,Third Year,MATHEMATICS,21,162,57,2016,2017,Nyanza,38174,36925,B
8,Fourth Year,ACTUARIAL SCIENCE,22,154,53,2015,2016,Nyanza,40833,27034,B
9,Fourth Year,ECONOMICS,21,172,57,2015,2016,Rift Valley,42264,26059,B
10,Third Year,MATHEMATICS,22,172,78,2016,2017,Coast,6811,39242,C
11,Second Year,MATHEMATICS,22,160,60,2015,2016,Coast,34148,37578,B
13,First Year,ECONOMICS AND STATISTICS,20,167,79,2010,2010,Nairobi,23654,17407,C
15,Third Year,STATISTICS,20,150,54,2016,2017,Central,45232,35910,B
16,Third Year,ECONOMICS AND STATISTICS,21,167,45,2016,2017,Nairobi,28393,9384,B
17,Third Year,APPLIED MATHEMATICS,20,122,52,2016,2017,Central,24691,28958,B
18,Third Year,STATISTICS,21,160,52,2016,2017,Central,36282,48476,B
19,Second Year,STATISTICS,21,200,65,2018,2019,Nairobi,9726,20195,B
21,Third Year,MATHEMATICS,20,157,45,2016,2017,Nyanza,34574,38983,B
22,Second Year,ACTUARIAL SCIENCE,20,125,50,2017,2018,Central,24599,33816,A
23,Third Year,ELECTRICAL ENGINEERING,21,170,59,2016,2017,Nairobi,36394,18675,A
24,Second Year,MATHEMATICS,21,160,54,2016,2017,Nyanza,9152,34661,B
25,First Year,STATISTICS,18,149,57,2018,2019,Rift Valley,17414,9154,B
28,Third Year,ECONOMICS AND STATISTICS,22,155,58,2016,2017,Coast,40620,24280,B
29,Third Year,STATISTICS,21,154,68,2016,2017,Nyanza,14357,11981,B
30,Third Year,STATISTICS,20,150,50,2016,2017,Eastern,31863,5661,B
33,Fourth Year,MATHEMATICS,21,166,67,2015,2016,Western,8802,12739,B
35,Second Year,MATHEMATICS,22,147,58,2013,2018,Western,8835,44816,A
38,Third Year,MATHEMATICS,22,164,50,2016,2017,Nyanza,13157,18850,B
40,Fourth Year,ECONOMICS,20,148,64,2015,2016,Rift Valley,33576,44122,B
41,Third Year,MATHEMATICS,20,156,56,2016,2017,Coast,11111,29686,C
42,Second Year,MATHEMATICS,21,152,76,2015,2016,Coast,49140,11893,B
46,Third Year,STATISTICS,21,140,66,2016,2017,Central,33984,44199,B
47,Third Year,ECONOMICS AND STATISTICS,22,147,53,2016,2017,Nairobi,21173,34372,B
48,Third Year,APPLIED MATHEMATICS,22,171,51,2016,2017,Central,30086,26363,B
50,Second Year,STATISTICS,22,162,57,2018,2019,Nairobi,27858,10556,B
51,Third Year,STATISTICS,21,161,77,2015,2017,Nairobi,6287,19264,A
52,Third Year,MATHEMATICS,22,168,61,2016,2017,Nyanza,24251,46408,B
55,Second Year,MATHEMATICS,21,141,75,2016,2017,Nyanza,18458,39735,B
56,First Year,STATISTICS,20,168,50,2018,2019,Rift Valley,24634,12529,B
59,Third Year,ECONOMICS AND STATISTICS,22,174,77,2016,2017,Coast,48495,31425,B
60,Third Year,STATISTICS,21,142,64,2016,2017,Nyanza,36492,34995,B
61,Third Year,STATISTICS,22,141,58,2016,2017,Eastern,9222,31360,B

In [42]:
df[df["SitKCSE"]==2016]

Empty DataFrame
Columns: [YearofStudy, Course, Age, ApproxHeight, ApproxWeight, KCSE, Yr_JoinCampus, SitKCSE, Expense_Semester, Expense_Accommodation, Previous_Exam_MeanGrade]
Index: []

In [44]:
avg_height=df["ApproxHeight"].mean()
df[df["ApproxHeight"]>avg_height]

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
1,First Year,ECONOMICS AND STATISTICS,29,182,79,2010,2010,Rift Valley,26293,14782,B
2,Fourth Year,MATHEMATICS,22,167,64,2015,2016,Western,44105,19224,B
6,Third Year,MATHEMATICS,21,165,79,2016,2017,Rift Valley,39252,44024,A
7,Third Year,MATHEMATICS,21,162,57,2016,2017,Nyanza,38174,36925,B
9,Fourth Year,ECONOMICS,21,172,57,2015,2016,Rift Valley,42264,26059,B
10,Third Year,MATHEMATICS,22,172,78,2016,2017,Coast,6811,39242,C
11,Second Year,MATHEMATICS,22,160,60,2015,2016,Coast,34148,37578,B
12,Fourth Year,MATHEMATICS,23,170,66,2015,2016,Nairobi,49155,21501,B
13,First Year,ECONOMICS AND STATISTICS,20,167,79,2010,2010,Nairobi,23654,17407,C
14,Second Year,ECONOMICS AND STATISTICS,34,176,80,2012,2012,Eastern,32733,39019,E
16,Third Year,ECONOMICS AND STATISTICS,21,167,45,2016,2017,Nairobi,28393,9384,B
18,Third Year,STATISTICS,21,160,52,2016,2017,Central,36282,48476,B
19,Second Year,STATISTICS,21,200,65,2018,2019,Nairobi,9726,20195,B
20,Third Year,STATISTICS,27,166,75,2015,2017,Nairobi,35034,26889,A
23,Third Year,ELECTRICAL ENGINEERING,21,170,59,2016,2017,Nairobi,36394,18675,A
24,Second Year,MATHEMATICS,21,160,54,2016,2017,Nyanza,9152,34661,B
32,First Year,ECONOMICS AND STATISTICS,24,163,75,2010,2010,Rift Valley,10251,9951,B
33,Fourth Year,MATHEMATICS,21,166,67,2015,2016,Western,8802,12739,B
38,Third Year,MATHEMATICS,22,164,50,2016,2017,Nyanza,13157,18850,B
39,Fourth Year,ACTUARIAL SCIENCE,23,176,69,2015,2016,Nyanza,6171,10771,B
44,First Year,ECONOMICS AND STATISTICS,23,178,52,2010,2010,Nairobi,23656,6657,C
45,Second Year,ECONOMICS AND STATISTICS,25,163,80,2012,2012,Eastern,46291,48633,E
48,Third Year,APPLIED MATHEMATICS,22,171,51,2016,2017,Central,30086,26363,B
49,Third Year,STATISTICS,23,174,60,2016,2017,Central,23524,34048,B
50,Second Year,STATISTICS,22,162,57,2018,2019,Nairobi,27858,10556,B
51,Third Year,STATISTICS,21,161,77,2015,2017,Nairobi,6287,19264,A
52,Third Year,MATHEMATICS,22,168,61,2016,2017,Nyanza,24251,46408,B
56,First Year,STATISTICS,20,168,50,2018,2019,Rift Valley,24634,12529,B
58,Fourth Year,MATHEMATICS,23,171,55,2015,2016,Rift Valley,36226,3536,C
59,Third Year,ECONOMICS AND STATISTICS,22,174,77,2016,2017,Coast,48495,31425,B

In [45]:
df["YearofStudy"].value_counts()

YearofStudy
Third Year     28
Second Year    16
Fourth Year    12
First Year      6
Name: count, dtype: int64

In [46]:
df.groupby("YearofStudy")["Age"].mean()

YearofStudy
First Year     22.333333
Fourth Year    22.666667
Second Year    22.687500
Third Year     21.607143
Name: Age, dtype: float64

In [47]:
df.groupby("Course")["Expense_Semester"].mean()

Course
ACTUARIAL SCIENCE           22756.500000
APPLIED MATHEMATICS         27388.500000
ECONOMICS                   37920.000000
ECONOMICS AND STATISTICS    30475.250000
ELECTRICAL ENGINEERING      42498.000000
MATHEMATICS                 27761.333333
STATISTICS                  25136.357143
URBAN PLANNING              29193.000000
Name: Expense_Semester, dtype: float64

In [48]:
df[(df["Yr_JoinCampus"]>2016) & 
    (df["YearofStudy"]=="Third Year") | (df["YearofStudy"]=="Fourth Year")]

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
2,Fourth Year,MATHEMATICS,22,167,64,2015,2016,Western,44105,19224,B
5,Third Year,URBAN PLANNING,20,154,56,2016,2017,Central,11648,41028,A
6,Third Year,MATHEMATICS,21,165,79,2016,2017,Rift Valley,39252,44024,A
7,Third Year,MATHEMATICS,21,162,57,2016,2017,Nyanza,38174,36925,B
8,Fourth Year,ACTUARIAL SCIENCE,22,154,53,2015,2016,Nyanza,40833,27034,B
9,Fourth Year,ECONOMICS,21,172,57,2015,2016,Rift Valley,42264,26059,B
10,Third Year,MATHEMATICS,22,172,78,2016,2017,Coast,6811,39242,C
12,Fourth Year,MATHEMATICS,23,170,66,2015,2016,Nairobi,49155,21501,B
15,Third Year,STATISTICS,20,150,54,2016,2017,Central,45232,35910,B
16,Third Year,ECONOMICS AND STATISTICS,21,167,45,2016,2017,Nairobi,28393,9384,B
17,Third Year,APPLIED MATHEMATICS,20,122,52,2016,2017,Central,24691,28958,B
18,Third Year,STATISTICS,21,160,52,2016,2017,Central,36282,48476,B
20,Third Year,STATISTICS,27,166,75,2015,2017,Nairobi,35034,26889,A
21,Third Year,MATHEMATICS,20,157,45,2016,2017,Nyanza,34574,38983,B
23,Third Year,ELECTRICAL ENGINEERING,21,170,59,2016,2017,Nairobi,36394,18675,A
26,Fourth Year,MATHEMATICS,23,155,72,2015,2016,Eastern,44791,14681,C
27,Fourth Year,MATHEMATICS,24,153,56,2015,2016,Rift Valley,48957,25285,C
28,Third Year,ECONOMICS AND STATISTICS,22,155,58,2016,2017,Coast,40620,24280,B
29,Third Year,STATISTICS,21,154,68,2016,2017,Nyanza,14357,11981,B
30,Third Year,STATISTICS,20,150,50,2016,2017,Eastern,31863,5661,B
33,Fourth Year,MATHEMATICS,21,166,67,2015,2016,Western,8802,12739,B
36,Third Year,URBAN PLANNING,24,154,63,2016,2017,Central,46738,22645,A
37,Third Year,MATHEMATICS,23,149,66,2016,2017,Rift Valley,24766,8508,A
38,Third Year,MATHEMATICS,22,164,50,2016,2017,Nyanza,13157,18850,B
39,Fourth Year,ACTUARIAL SCIENCE,23,176,69,2015,2016,Nyanza,6171,10771,B
40,Fourth Year,ECONOMICS,20,148,64,2015,2016,Rift Valley,33576,44122,B
41,Third Year,MATHEMATICS,20,156,56,2016,2017,Coast,11111,29686,C
43,Fourth Year,MATHEMATICS,25,141,58,2015,2016,Nairobi,28455,31672,B
46,Third Year,STATISTICS,21,140,66,2016,2017,Central,33984,44199,B
47,Third Year,ECONOMICS AND STATISTICS,22,147,53,2016,2017,Nairobi,21173,34372,B
48,Third Year,APPLIED MATHEMATICS,22,171,51,2016,2017,Central,30086,26363,B
49,Third Year,STATISTICS,23,174,60,2016,2017,Central,23524,34048,B
51,Third Year,STATISTICS,21,161,77,2015,2017,Nairobi,6287,19264,A
52,Third Year,MATHEMATICS,22,168,61,2016,2017,Nyanza,24251,46408,B
54,Third Year,ELECTRICAL ENGINEERING,23,144,54,2016,2017,Nairobi,48602,36527,A
57,Fourth Year,MATHEMATICS,25,142,66,2015,2016,Eastern,21556,15814,C
58,Fourth Year,MATHEMATICS,23,171,55,2015,2016,Rift Valley,36226,3536,C
59,Third Year,ECONOMICS AND STATISTICS,22,174,77,2016,2017,Coast,48495,31425,B
60,Third Year,STATISTICS,21,142,64,2016,2017,Nyanza,36492,34995,B
61,Third Year,STATISTICS,22,141,58,2016,2017,Eastern,9222,31360,B

In [51]:
df[df["Previous_Exam_MeanGrade"].isin(["A","B"])]

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade
0,Second Year,MATHEMATICS,20,152,80,2016,2018,Central,8744,6043,B
1,First Year,ECONOMICS AND STATISTICS,29,182,79,2010,2010,Rift Valley,26293,14782,B
2,Fourth Year,MATHEMATICS,22,167,64,2015,2016,Western,44105,19224,B
3,Second Year,ECONOMICS AND STATISTICS,23,149,52,2016,2018,Coast,33954,18795,B
4,Second Year,MATHEMATICS,18,150,70,2013,2018,Western,18113,25569,A
5,Third Year,URBAN PLANNING,20,154,56,2016,2017,Central,11648,41028,A
6,Third Year,MATHEMATICS,21,165,79,2016,2017,Rift Valley,39252,44024,A
7,Third Year,MATHEMATICS,21,162,57,2016,2017,Nyanza,38174,36925,B
8,Fourth Year,ACTUARIAL SCIENCE,22,154,53,2015,2016,Nyanza,40833,27034,B
9,Fourth Year,ECONOMICS,21,172,57,2015,2016,Rift Valley,42264,26059,B
11,Second Year,MATHEMATICS,22,160,60,2015,2016,Coast,34148,37578,B
12,Fourth Year,MATHEMATICS,23,170,66,2015,2016,Nairobi,49155,21501,B
15,Third Year,STATISTICS,20,150,54,2016,2017,Central,45232,35910,B
16,Third Year,ECONOMICS AND STATISTICS,21,167,45,2016,2017,Nairobi,28393,9384,B
17,Third Year,APPLIED MATHEMATICS,20,122,52,2016,2017,Central,24691,28958,B
18,Third Year,STATISTICS,21,160,52,2016,2017,Central,36282,48476,B
19,Second Year,STATISTICS,21,200,65,2018,2019,Nairobi,9726,20195,B
20,Third Year,STATISTICS,27,166,75,2015,2017,Nairobi,35034,26889,A
21,Third Year,MATHEMATICS,20,157,45,2016,2017,Nyanza,34574,38983,B
22,Second Year,ACTUARIAL SCIENCE,20,125,50,2017,2018,Central,24599,33816,A
23,Third Year,ELECTRICAL ENGINEERING,21,170,59,2016,2017,Nairobi,36394,18675,A
24,Second Year,MATHEMATICS,21,160,54,2016,2017,Nyanza,9152,34661,B
25,First Year,STATISTICS,18,149,57,2018,2019,Rift Valley,17414,9154,B
28,Third Year,ECONOMICS AND STATISTICS,22,155,58,2016,2017,Coast,40620,24280,B
29,Third Year,STATISTICS,21,154,68,2016,2017,Nyanza,14357,11981,B
30,Third Year,STATISTICS,20,150,50,2016,2017,Eastern,31863,5661,B
32,First Year,ECONOMICS AND STATISTICS,24,163,75,2010,2010,Rift Valley,10251,9951,B
33,Fourth Year,MATHEMATICS,21,166,67,2015,2016,Western,8802,12739,B
34,Second Year,ECONOMICS AND STATISTICS,24,155,57,2016,2018,Coast,30190,32985,B
35,Second Year,MATHEMATICS,22,147,58,2013,2018,Western,8835,44816,A
36,Third Year,URBAN PLANNING,24,154,63,2016,2017,Central,46738,22645,A
37,Third Year,MATHEMATICS,23,149,66,2016,2017,Rift Valley,24766,8508,A
38,Third Year,MATHEMATICS,22,164,50,2016,2017,Nyanza,13157,18850,B
39,Fourth Year,ACTUARIAL SCIENCE,23,176,69,2015,2016,Nyanza,6171,10771,B
40,Fourth Year,ECONOMICS,20,148,64,2015,2016,Rift Valley,33576,44122,B
42,Second Year,MATHEMATICS,21,152,76,2015,2016,Coast,49140,11893,B
43,Fourth Year,MATHEMATICS,25,141,58,2015,2016,Nairobi,28455,31672,B
46,Third Year,STATISTICS,21,140,66,2016,2017,Central,33984,44199,B
47,Third Year,ECONOMICS AND STATISTICS,22,147,53,2016,2017,Nairobi,21173,34372,B
48,Third Year,APPLIED MATHEMATICS,22,171,51,2016,2017,Central,30086,26363,B
49,Third Year,STATISTICS,23,174,60,2016,2017,Central,23524,34048,B
50,Second Year,STATISTICS,22,162,57,2018,2019,Nairobi,27858,10556,B
51,Third Year,STATISTICS,21,161,77,2015,2017,Nairobi,6287,19264,A
52,Third Year,MATHEMATICS,22,168,61,2016,2017,Nyanza,24251,46408,B
53,Second Year,ACTUARIAL SCIENCE,24,157,63,2017,2018,Central,19423,20715,A
54,Third Year,ELECTRICAL ENGINEERING,23,144,54,2016,2017,Nairobi,48602,36527,A
55,Second Year,MATHEMATICS,21,141,75,2016,2017,Nyanza,18458,39735,B
56,First Year,STATISTICS,20,168,50,2018,2019,Rift Valley,24634,12529,B
59,Third Year,ECONOMICS AND STATISTICS,22,174,77,2016,2017,Coast,48495,31425,B
60,Third Year,STATISTICS,21,142,64,2016,2017,Nyanza,36492,34995,B
61,Third Year,STATISTICS,22,141,58,2016,2017,Eastern,9222,31360,B

In [54]:
df["Total_Expense"]=df["Expense_Semester"]+df["Expense_Accommodation"]

In [55]:
df.head()

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade,Total_Expense
0,Second Year,MATHEMATICS,20,152,80,2016,2018,Central,8744,6043,B,14787
1,First Year,ECONOMICS AND STATISTICS,29,182,79,2010,2010,Rift Valley,26293,14782,B,41075
2,Fourth Year,MATHEMATICS,22,167,64,2015,2016,Western,44105,19224,B,63329
3,Second Year,ECONOMICS AND STATISTICS,23,149,52,2016,2018,Coast,33954,18795,B,52749
4,Second Year,MATHEMATICS,18,150,70,2013,2018,Western,18113,25569,A,43682

In [56]:
df.sort_values(by="Total_Expense",ascending=False)

,YearofStudy,Course,Age,ApproxHeight,ApproxWeight,KCSE,Yr_JoinCampus,SitKCSE,Expense_Semester,Expense_Accommodation,Previous_Exam_MeanGrade,Total_Expense
45,Second Year,ECONOMICS AND STATISTICS,25,163,80,2012,2012,Eastern,46291,48633,E,94924
54,Third Year,ELECTRICAL ENGINEERING,23,144,54,2016,2017,Nairobi,48602,36527,A,85129
18,Third Year,STATISTICS,21,160,52,2016,2017,Central,36282,48476,B,84758
6,Third Year,MATHEMATICS,21,165,79,2016,2017,Rift Valley,39252,44024,A,83276
15,Third Year,STATISTICS,20,150,54,2016,2017,Central,45232,35910,B,81142
...,...,...,...,...,...,...,...,...,...,...,...,...
51,Third Year,STATISTICS,21,161,77,2015,2017,Nairobi,6287,19264,A,25551
33,Fourth Year,MATHEMATICS,21,166,67,2015,2016,Western,8802,12739,B,21541
32,First Year,ECONOMICS AND STATISTICS,24,163,75,2010,2010,Rift Valley,10251,9951,B,20202
39,Fourth Year,ACTUARIAL SCIENCE,23,176,69,2015,2016,Nyanza,6171,10771,B,16942
0,Second Year,MATHEMATICS,20,152,80,2016,2018,Central,8744,6043,B,14787

In [59]:
df["Total_Expense"].dtype

dtype('int64')

In [65]:
import numpy as np
df["Expense_Level"]=np.where(
    df["Total_Expense"]>40000,"High",
    np.where(df["Total_Expense"]>=25000,"Medium","Low")
)

In [64]:
print(df[["Total_Expense","Expense_Level"]])

    Total_Expense Expense_Level
0           14787          High
1           41075          High
2           63329          High
3           52749          High
4           43682          High
..            ...           ...
57          37370          High
58          39762          High
59          79920          High
60          71487          High
61          40582          High

[62 rows x 2 columns]

In [68]:
df["Scholar_Status"]=np.where(
    df["Total_Expense"]<20000,
    "Eligible",
    "Not Eligible"
)

print(df[["Total_Expense","Scholarship_Status"]])

    Total_Expense Scholarship_Status
0           14787           Eligible
1           41075       Not Eligible
2           63329       Not Eligible
3           52749       Not Eligible
4           43682       Not Eligible
..            ...                ...
57          37370       Not Eligible
58          39762       Not Eligible
59          79920       Not Eligible
60          71487       Not Eligible
61          40582       Not Eligible

[62 rows x 2 columns]

In [ ]:
# Which Yr of Study has the Highest avg Total Expense (IDXMAX)

In [69]:
df.groupby("YearofStudy")["Total_Expense"].mean().idxmax()

'Third Year'